streamlit  
scikit-learn  
xgboost  
shap  
cdsapi   
wbdata  
requests  
geopandas  
shapely  
pyproj  
rasterio  
fiona  
pyshp  
plotly  
folium  
matplotlib  
pandas  
numpy  
xarray  
netCDF4  
openpyxl  
